.btnWhite {
  background: transparent;
  padding: 1.35rem 4.4rem;
  border: 2px solid #2a73dd;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  color: #2a73dd;
  box-shadow: 0 3px 6px #c9d8f4;
  transition: $smooth;
  &:hover {
    background-color: $primary-main;
    color: white;
  }
}
.btnBlue {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  padding: 15.5px 46px;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: $smooth;
  &:hover {
    opacity: 0.75;
  }
}
.btn_shadow {
  background: #f5f9fe;
  border: none;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  font-size: 10px;
  font-weight: 600;
  color: #2a73dd;
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  transition: 0.5s;
  &:hover {
    box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
  }
}
