.footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: #fff;
  img {
    margin-bottom: 60px;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__left {
      font-size: 1.4rem;
    }
    .footer__right {
      ul {
        li {
          padding: 7px 14px;
          a {
            font-size: 1.4rem;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
            opacity: 1;
            transition: all 0.2s;
            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }
}
